{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Sign in
{% endblock %}

{% block navbar %}
    {{nav.loggednavbar.render()}}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/addnote" class="form-signin" enctype="multipart/form-data" id="myForm" method="POST" name="myForm">
            <h2 class="form-signing-heading">Add note</h2>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.content) }}
            {{ wtf.form_field(form.isPrivate) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="myBtn">Post note</button>
        </form>

    </div> <!-- /container -->
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}